pop local 0 int
pop local 1 int
pop local 2 int
function strlen 1 INT
push argument strlenstr str
push constant 0 INT
pop local 0 INT
LABEL #L0
push local 3 ptr
push local 0 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L0
push local 0 INT
push constant 1 INT
add
pop local 0 INT
push constant 1 INT
sub
goto #L0
LABEL end_#L0
push local 0 INT
return
function strcpy 2 VOID
push argument destcpy str
push argument srccpy str
push constant 0 INT
pop local 1 INT
LABEL #L1
push local 6 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L1
push local 5 ptr
push local 1 INT
getindex
push local 6 ptr
push local 1 INT
getindex
access str
store STR
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L1
LABEL end_#L1
push local 5 ptr
push local 1 INT
getindex
push constant '\0' CHAR
store STR
function strcmp 2 INT
push argument str1 str
push argument str2 str
push constant 0 INT
pop local 1 INT
LABEL #L2
push local 8 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
push local 9 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
and
JZ, goto end_#L2
push local 8 ptr
push local 1 INT
getindex
access str
push local 9 ptr
push local 1 INT
getindex
access str
neq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 8 ptr
push local 1 INT
getindex
access str
push local 9 ptr
push local 1 INT
getindex
access str
sub
pop local 11 CHAR
push local 11 CHAR
pop local 12 INT
push local 12 INT
return
goto IF_END1
label IF_FALSE1
label IF_END1
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L2
LABEL end_#L2
push local 8 ptr
push local 1 INT
getindex
access str
push local 9 ptr
push local 1 INT
getindex
access str
sub
pop local 13 CHAR
push local 11 INT
pop local 14 INT
push local 14 INT
return
function strcat 2 VOID
push argument dest str
push argument src str
push constant 0 INT
pop local 1 INT
LABEL #L3
push local 15 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L3
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L3
LABEL end_#L3
push constant 0 INT
pop local 2 INT
LABEL #L4
push local 16 ptr
push local 2 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L4
push local 15 ptr
push local 1 INT
getindex
push local 16 ptr
push local 2 INT
getindex
access str
store STR
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
push local 2 INT
push constant 1 INT
add
pop local 2 INT
push constant 1 INT
sub
goto #L4
LABEL end_#L4
push local 15 ptr
push local 1 INT
getindex
push constant '\0' CHAR
store STR
function to_uppercase 1 VOID
push argument strToUpper str
push constant 0 INT
pop local 1 INT
LABEL #L5
push local 18 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L5
push local 18 ptr
push local 1 INT
getindex
access str
push constant 'a' CHAR
gte
push local 18 ptr
push local 1 INT
getindex
access str
push constant 'z' CHAR
lte
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 18 ptr
push local 1 INT
getindex
push local 18 ptr
push local 1 INT
getindex
access str
push constant 'a' CHAR
sub
push constant 'A' CHAR
add
store STR
goto IF_END2
label IF_FALSE2
label IF_END2
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L5
LABEL end_#L5
function to_lowercase 1 VOID
push argument strToLower str
push constant 0 INT
pop local 1 INT
LABEL #L6
push local 20 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L6
push local 20 ptr
push local 1 INT
getindex
access str
push constant 'A' CHAR
gte
push local 20 ptr
push local 1 INT
getindex
access str
push constant 'Z' CHAR
lte
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 20 ptr
push local 1 INT
getindex
push local 20 ptr
push local 1 INT
getindex
access str
push constant 'A' CHAR
sub
push constant 'a' CHAR
add
store STR
goto IF_END3
label IF_FALSE3
label IF_END3
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L6
LABEL end_#L6
function is_palindrome 1 INT
push argument strIsPalindrome str
push local 22 STR
call strlen 1
pop local 0 INT
push constant 0 INT
pop local 1 INT
LABEL #L7
push local 1 INT
push local 0 INT
push constant 2 INT
div
lt
JZ, goto end_#L7
push local 22 ptr
push local 1 INT
getindex
access str
push local 22 ptr
push local 0 INT
push local 1 INT
sub
push constant 1 INT
sub
getindex
access str
neq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0 INT
return
goto IF_END4
label IF_FALSE4
label IF_END4
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L7
LABEL end_#L7
push constant 1 INT
return
function reverse 1 VOID
push argument strReverse str
push local 24 STR
call strlen 1
pop local 0 INT
push constant 0 INT
pop local 1 INT
LABEL #L8
push local 1 INT
push local 0 INT
push constant 2 INT
div
lt
JZ, goto end_#L8
push local 24 ptr
push local 1 INT
getindex
access str
pop local 26 CHAR
push local 24 ptr
push local 1 INT
getindex
push local 24 ptr
push local 0 INT
push local 1 INT
sub
push constant 1 INT
sub
getindex
access str
store STR
push local 24 ptr
push local 0 INT
push local 1 INT
sub
push constant 1 INT
sub
getindex
push local 26 CHAR
store STR
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L8
LABEL end_#L8
function atoi 1 INT
push argument strAtoi str
push constant 0 INT
pop local 29 INT
push constant 1 INT
pop local 30 INT
push constant 0 INT
pop local 1 INT
push local 27 ptr
push constant 0 INT
getindex
access str
push constant '-' CHAR
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant -1 INT
pop local 30 INT
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto IF_END5
label IF_FALSE5
label IF_END5
LABEL #L9
push local 27 ptr
push local 1 INT
getindex
access str
push constant '\0' CHAR
neq
JZ, goto end_#L9
push local 29 INT
push constant 10 INT
mul
push local 27 ptr
push local 1 INT
getindex
access str
push constant '0' CHAR
sub
add
pop local 29 INT
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
goto #L9
LABEL end_#L9
push local 29 INT
push local 30 INT
mul
return
function itoa 2 VOID
push argument numItoa int
push argument strItoa str
push constant 0 INT
pop local 1 INT
push constant 0 INT
pop local 34 INT
push local 31 INT
push constant 0 INT
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 1 INT
pop local 34 INT
push constant -1 INT
push local 31 INT
mul
pop local 31 INT
goto IF_END6
label IF_FALSE6
label IF_END6
LABEL #L10
push local 31 INT
push constant 0 INT
neq
JZ, goto end_#L10
push local 32 ptr
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
getindex
push local 31 INT
push constant 10 INT
mod
push constant '0' CHAR
add
store STR
push local 31 INT
push constant 10 INT
div
pop local 31 INT
goto #L10
LABEL end_#L10
push local 34 INT
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 32 ptr
push local 1 INT
push constant 1 INT
add
pop local 1 INT
push constant 1 INT
sub
getindex
push constant '-' CHAR
store STR
goto IF_END7
label IF_FALSE7
label IF_END7
push local 32 ptr
push local 1 INT
getindex
push constant '\0' CHAR
store STR
push local 32 STR
call reverse 1
